body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    
   
    
}
h1{
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
#textarea{
    width: 90%;
    height: 400px;
    font-size: 20;
    font-weight: bold;
    font-family: monospace;
    display: block;
    margin-right : auto;
    margin-left: auto;
    
    
    

}

fieldset{
   
    
    
    border-color: black;
    border-width: 5pt;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
  
    
    
}
.rows{
    margin : 0 auto;
    padding-top: 2pt;
    align-self:center;
    
}